{% extends 'layout.html' %}

{% block title %}
    Register a New User
{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: column;">
        <h1 style="color: #D8C4B6; margin: 20px 0; font-size: 2.5rem;">
            Register a New User
        </h1>
        <form class="form-with-validation" action="{% url 'users:register' %}" method="post" 
              style="display: flex; flex-direction: column;">
            {% csrf_token %}
            {{ form }}
            <button style="
    margin-top: 1rem; 
    padding: 0.75rem 1.5rem; 
    background-color: #F5EFE7; 
    color: #333; 
    font-size: 1.2rem; 
    font-weight: bold; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease;
" 
onmouseover="this.style.backgroundColor='#D8C4B6'; this.style.transform='translateY(-2px)';"
onmouseout="this.style.backgroundColor='#F5EFE7'; this.style.transform='translateY(0)';">
    Submit
</button>
        </form>
    </div>
{% endblock %}
